*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
    background-color: blue;
    width: 100%;

}
.form{
    background: whitesmoke;
    max-width: 430px;
    padding: 30px;
    border-radius: ;
}
header{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    color: black;
}
form{
    margin-top: 30px;

}
form .field{
    height: 45px;
    margin-top: 30px;
    width: 100%;
}
.field input{
    height: 100%;
    width: 100%;

}
